			input[type=text], textarea {
            width: 100%;
            padding: 15px 20px;
            margin: 10px 0;
            box-sizing: border-box;
            border: none;
            border-bottom: 2px solid red;
        }
		
		#form1 {
			border-radius: 25px;
			background-color: #b3eff1;
			padding: 20px;
		}
		
		input[type=submit]:hover, [type=reset]:hover, [type=button]:hover {
			background-color: #338e94  ;
		}
		
		input[type=submit], [type=reset], [type=button] {
			background-color: #099ba0;
			border: none;
			color: white;
			padding: 15px 30px;
			text-align: center;
			border-radius: 5px;
			cursor: pointer;

		}